@tailwind base;
@tailwind components;
@tailwind utilities;


.animate{
    animation:animate .5s ease;
}


@keyframes animate {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}